function Enemy.new 0
    push constant 5
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push constant 12
    pop this 2
    push constant 40
    pop this 3
    push constant 45
    pop this 4
    push pointer 0
    return
function Enemy.moveTowards 3
    push argument 0
    pop pointer 0
    push pointer 0
    push this 0
    push argument 1
    sub
    call Enemy.abs 2
    pop local 0
    push pointer 0
    push this 1
    push argument 2
    sub
    call Enemy.abs 2
    pop local 1
    push constant 0
    pop local 2
    push local 0
    push local 1
    gt
    not
    if-goto Enemy_1
    push pointer 0
    push argument 1
    push argument 3
    call Enemy.tryMoveVertical 3
    pop local 2
    push local 2
    not
    not
    if-goto Enemy_3
    push pointer 0
    push argument 2
    push argument 3
    call Enemy.tryMoveHorizontal 3
    pop local 2
    goto Enemy_2
label Enemy_3
label Enemy_2
    goto Enemy_0
label Enemy_1
    push pointer 0
    push argument 2
    push argument 3
    call Enemy.tryMoveHorizontal 3
    pop local 2
    push local 2
    not
    not
    if-goto Enemy_5
    push pointer 0
    push argument 1
    push argument 3
    call Enemy.tryMoveVertical 3
    pop local 2
    goto Enemy_4
label Enemy_5
label Enemy_4
label Enemy_0
    push constant 0
    return
function Enemy.tryMoveVertical 1
    push argument 0
    pop pointer 0
    push argument 1
    push this 0
    eq
    not
    if-goto Enemy_7
    push constant 0
    return
    goto Enemy_6
label Enemy_7
label Enemy_6
    push this 0
    pop local 0
    push argument 1
    push this 0
    lt
    not
    if-goto Enemy_9
    push this 0
    push constant 1
    sub
    pop local 0
    goto Enemy_8
label Enemy_9
label Enemy_8
    push argument 1
    push this 0
    gt
    not
    if-goto Enemy_11
    push this 0
    push constant 1
    add
    pop local 0
    goto Enemy_10
label Enemy_11
label Enemy_10
    push argument 2
    push local 0
    push this 1
    call Maze.isWalkable 3
    not
    if-goto Enemy_13
    push local 0
    pop this 0
    push constant 1
    neg
    return
    goto Enemy_12
label Enemy_13
label Enemy_12
    push constant 0
    return
function Enemy.tryMoveHorizontal 1
    push argument 0
    pop pointer 0
    push argument 1
    push this 1
    eq
    not
    if-goto Enemy_15
    push constant 0
    return
    goto Enemy_14
label Enemy_15
label Enemy_14
    push this 1
    pop local 0
    push argument 1
    push this 1
    lt
    not
    if-goto Enemy_17
    push this 1
    push constant 1
    sub
    pop local 0
    goto Enemy_16
label Enemy_17
label Enemy_16
    push argument 1
    push this 1
    gt
    not
    if-goto Enemy_19
    push this 1
    push constant 1
    add
    pop local 0
    goto Enemy_18
label Enemy_19
label Enemy_18
    push argument 2
    push this 0
    push local 0
    call Maze.isWalkable 3
    not
    if-goto Enemy_21
    push local 0
    pop this 1
    push constant 1
    neg
    return
    goto Enemy_20
label Enemy_21
label Enemy_20
    push constant 0
    return
function Enemy.abs 0
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    lt
    not
    if-goto Enemy_23
    push argument 1
    push constant 1
    neg
    call Math.multiply 2
    return
    goto Enemy_22
label Enemy_23
label Enemy_22
    push argument 1
    return
function Enemy.draw 2
    push argument 0
    pop pointer 0
    push this 3
    push this 1
    push this 2
    call Math.multiply 2
    add
    pop local 0
    push this 4
    push this 0
    push this 2
    call Math.multiply 2
    add
    pop local 1
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push local 0
    push constant 3
    add
    push local 1
    push constant 3
    add
    push local 0
    push constant 8
    add
    push local 1
    push constant 8
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Enemy.getRow 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Enemy.getCol 0
    push argument 0
    pop pointer 0
    push this 1
    return