function Player.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push pointer 0
    return
function Player.move 2
    push argument 0
    pop pointer 0
    push this 0
    push argument 1
    add
    pop local 0
    push this 1
    push argument 2
    add
    pop local 1
    push argument 3
    push local 0
    push local 1
    call Maze.isWall 3
    not
    not
    if-goto Player_1
    push local 0
    pop this 0
    push local 1
    pop this 1
    goto Player_0
label Player_1
label Player_0
    push constant 0
    return
function Player.draw 2
    push argument 0
    pop pointer 0
    push this 1
    push constant 16
    call Math.multiply 2
    pop local 0
    push this 0
    push constant 16
    call Math.multiply 2
    pop local 1
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push local 0
    push constant 3
    add
    push local 1
    push constant 3
    add
    push local 0
    push constant 12
    add
    push local 1
    push constant 12
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Player.getRow 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Player.getCol 0
    push argument 0
    pop pointer 0
    push this 1
    return